@{
  ViewBag.Title = "All animals";
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal>;

@* Razor code goes here *@

<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>